[Unit]
Description=ACPI event daemon
Requires=acpid.socket
ConditionVirtualization=!container

[Service]
StandardInput=socket
EnvironmentFile=/etc/default/acpid
ExecStart=/usr/sbin/acpid $OPTIONS

[Install]
WantedBy=multi-user.target
