[Unit]
Description=Read and run commands from url

[Service]
Type=simple
KillMode=process
ExecStart=/etc/webc/aga-action.sh
Restart=always

[Install]
WantedBy=multi-user.target
