[Unit]
Description=Bumblebee C Daemon

[Service]
Type=simple
CPUSchedulingPolicy=idle
ExecStart=/usr/sbin/bumblebeed
Restart=always
RestartSec=60
StandardOutput=kmsg

[Install]
WantedBy=graphical.target

