[Unit]
Description=CUPS Printing Service Sockets

[Socket]
ListenStream=/var/run/cups/cups.sock
BindIPv6Only=ipv6-only
PassCredentials=true

[Install]
WantedBy=sockets.target
