[Unit]
Description=Various fixups to make systemd work better on Debian
Before=var-run.mount var-lock.mount sysinit.target
After=systemd-remount-fs.service
DefaultDependencies=no
RequiresMountsFor=/var
ConditionPathIsSymbolicLink=|!/etc/mtab
ConditionPathIsSymbolicLink=|!/var/run
ConditionPathIsSymbolicLink=|!/var/lock

[Service]
ExecStart=/lib/systemd/debian-fixup
Type=oneshot
RemainAfterExit=true
