[Unit]
Description=Webconverger install mode
Requires=basic.target install.service
After=basic.target install.service
AllowIsolate=yes

[Install]
Alias=kbrequest.target
