[Unit]
Description=Webconverger install mode
Requires=basic.target rescue.service
After=basic.target rescue.service
AllowIsolate=yes

[Install]
Alias=kbrequest.target
