## live-config - System Configuration Components
##
## live-config contains the components that configure a live system during
## the boot process (late userspace).
##
## This is the systemd service for live-config.


[Unit]
Description=live-config contains the components that configure a live system during the boot process (late userspace).
Documentation=man:live-config
Before=basic.target udev.service
DefaultDependencies=no
ConditionPathExists=/bin/live-config
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/live-config
