[Unit]
Description=Tell Plymouth To Write Out Runtime Data
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
ExecStart=-/bin/plymouth update-root-fs --read-write
Type=oneshot
