[Unit]
Description=Upgrade Webconverger

[Service]
Type=simple
ExecStart=/etc/webc/logbot.sh /etc/webc/upgrade.sh
Restart=always

[Install]
WantedBy=multi-user.target
