[Unit]
Description=Setup Webconverger as a superuser, triggered by X startup script webc.sh
After=aga-scan-ip.service

[Service]
Type=simple
KillMode=process
ExecStart=/etc/webc/logbot.sh /etc/webc/live-config.sh
Restart=always

[Install]
WantedBy=multi-user.target
