[Unit]
Description=Service to setup Webconverger as a superuser

[Service]
ExecStart=/etc/webc/live-config.sh
Restart=always

[Install]
WantedBy=multi-user.target
Alias=webc.service
