root/.bash_history
var/lib/apt/lists/
var/cache/man/
var/cache/fontconfig/
var/cache/ldconfig/
var/cache/dictionaries-common
var/cache/apt/pkgcache.bin
/dev/null
usr/share/iceweasel/distribution/
proc
sys
dev
run
etc/ld.so.cache
