/*
 * Webconverger.com
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#apmenu-button,
#bookmarks-menu-button,
#content > tabbox > .tabbrowser-strip > menupopup[anonid="tabContextMenu"],
#context-bookmarkframe,
#context-bookmarklink,
#context-bookmarkpage,
#context-keywordfield,
#context-metadata,
#context-openframe,
#context-openframeintab,
#context-openlink,
#context-openlinkintab,
#context-reload,
#context-reloadframe,
#context-saveframe,
#context-saveimage,
#context-savelink,
#context-savepage,
#context-sendimage,
#context-sendlink,
#context-sendpage,
#context-sep-copylink,
#context-sep-properties,
#context-sep-selectall,
#context-sep-stop,
#context-sep-undo,
#context-sep-viewbgimage,
#developer-toolbar,
#context-setDesktopBackground,
#context-stop,
#context-viewframeinfo,
#context-viewframesource,
#context-viewimageinfo,
#context-viewinfo,
#context-viewpartialsource-mathml,
#context-viewpartialsource-selection,
#context-viewsource,
#downloadManager,
#download-monitor,
#downloads-button,
#editBookmarkPanel,
#editBookmarkPanelStarIcon,
#feed-button,
#go-button,
#go-button-stack,
#javascriptConsole,
menuitem[label="Error Console"],
menu.bookmark-item,
menuitem[command="Browser:SavePage"],
menuitem[disabled="true"],
menuitem[disabled="true"] + menuseparator,
#menu_openDownloads,
#PersonalToolbar,
#search-container,
#star-button,
#throbber-box,
toolbarbutton.bookmark-item,
#toolbar-context-menu,
#toolbar-menubar,
#context_bookmarkAllTabs,
#spell-add-dictionaries-main,
#spell-dictionaries,
#context-sep-paste,
#startPrivateBrowsing,
#page-menu-separator,
#spell-suggestions-separator,
#context-sep-open,
#context-sep-copylink,
#context-media-sep-commands,
#context-sep-copyimage,
#context-sep-stop,
#context-sep-viewbgimage,
#context-sep-undo,
#context-sep-paste,
#context-sep-selectall,
#frame-sep,
#context-sep-viewsource,
#spell-separator,
#spell-language-separator,
#context-sep-bidi,
#context-searchselect,
#inspect-separator,
#context-openlinkprivate,
#context-sep-selectall,
#context_openTabInWindow,
#unknownContentType { display: none !important;}

#navigator-toolbox { visibility: collapse; }
