#foxsaver_statusbar_icon {
	cursor:pointer;
  list-style-image: url("chrome://foxsaver/skin/foxsaver16h.png");
  vertical-align: middle;
}

#foxsaver_statusbar_icon[disabled="true"]{
	cursor:pointer;
  list-style-image: url("chrome://foxsaver/skin/foxsaver16h_disabled.png");
  vertical-align: middle;
}

/* for options.xul */
#foxsaver-preference-window .browse-button {
	list-style-image: url("chrome://foxsaver/skin/icons/open.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px); /*()*/
}
#foxsaver-preference-window .toolbarbutton-1 {
 	padding: 5px !important;
	margin: 0px !important;
	min-width: 10px !important;
	width: auto !important;
}
