body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: x-small;
    color: rgb(255, 255, 255);
	background-color: rgb(0,0,0);
	overflow:-moz-scrollbars-none;
	
}

div {overflow:hidden;}

img{
	font-family: Impact, Helvetica, Arial, sans-serif;
	font-size:medium;
	border:0px;
}

html.slideshow, body.slideshow, #mycanvas{
	margin: 0em;
	padding: 0em;
	height: 100%;
	width: 100%;
	overflow: hidden; 
	background-color:#000000;
}

img.slideshow, #mycanvas{
	position:absolute;
	z-index:1;
}

#menubar{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height: 111px;
	text-align:center;
	margin-top:5px;
  -moz-opacity:0;
	z-index:3;
	overflow:hidden;
	border:0px solid RGB(50,50,50);
}

#innerMenuPanel {
  width:auto;height:auto;
	overflow:hidden;
	text-align:center;
}

#leftMenu {
  margin:20px 0px 5px 0px;
  width:auto;
  height:auto;
	overflow:hidden;
	
}

#foxsaver_img_number {
  font:bold 14px Arial;width:120px;
  background-color:#000;
  -moz-opacity: 0.5;
}

img.fs_ctl_btn{
  -moz-opacity:0.5;
  cursor:pointer;
  z-index:101;
}

img.fs_ctl_img {
  -moz-opacity:0.5;
  cursor:pointer;
  float:left;
  display:block;
  width:90px;
  height:90px;
  border:2px solid white;
  margin:0px 3px;
}
#slideshowImage { position:absolute;left:50%;top:50%;}
#mycanvas { width:0px;height:0px; z-index:1;}
img.logo { position:absolute;top:0;left:0;}
#hiddenVarContainer { display:none;width:1px;height:1px;}
#foxsavervote { visibility:hidden;}
#foxsaverthumbup { visibility:hidden;display:none;}
#foxsaverinfo { visibility:hidden;}
