#fs_submit_img_dlg { width: 400px;height:300px; -moz-opacity:0.9;padding:0;margin:0;background:#EFEFEF;}
#fs_submit_img_dlg .hd { height:18px; margin:0;padding:2px;background:#DDDDDD;}
#fs_submit_img_dlg .bd { padding:10px;margin:0px;}
#fs_submit_img_dlg .textBox { width:280px;margin-bottom:5px;}