ACTION!="add|change", GOTO="xorg_xkb_end"
SUBSYSTEM!="input", GOTO="xorg_xkb_end"
KERNEL!="event*", GOTO="xorg_xkb_end"

# import keyboard layout from /etc/default/keyboard
ENV{ID_INPUT_KEY}=="?*", IMPORT{file}="/etc/default/keyboard"

LABEL="xorg_xkb_end"
