ACTION=="add", SUBSYSTEM=="sound", KERNEL=="controlC*", KERNELS=="card*", \
        TEST=="/usr/sbin/alsactl", RUN+="/usr/sbin/alsactl restore $attr{number}"
