
box[anonid="scaleBox"] {
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}
spacer[anonid="scaleSpacer"] { min-width: 5em; }
box.zeroWidth { 
	overflow: visible;
	-moz-box-pack: center;
	font-size: 0.85em; 
}
box.zeroWidth[orient="horizontal"] {max-width: 0.1px;}
box.zeroWidth[orient="vertical"] {max-height: 0.1px;}
box.zeroWidth[disabled="true"] { color: graytext; }
label[disabled="true"] { color: graytext; }
