#!/bin/sh

set -e

# Debconf library
. /usr/share/debconf/confmodule

db_get cupsys/raw-print
OLD_RET=$RET

db_input low cupsys/raw-print || true
db_go

db_get cupsys/raw-print
if [ "$OLD_RET" != "$RET" ]; then
    db_fset cupsys/raw-print changed true
fi

# remove parallel from PPC default
ARCH=`dpkg --print-architecture`
if [ "$ARCH" = "ppc" -o "$ARCH" = "ppc-none" ]; then
  db_fget cupsys/backend seen
  if [ "$RET" = "false" ]; then
    db_set cupsys/backend "lpd, socket, usb"
  fi
fi

db_input low cupsys/backend || true
db_go
