#!/bin/sh

set -e 

# Source debconf library.
. /usr/share/debconf/confmodule
                     
# /proc/net/igmp is present only in a multicast kernel
if uname | grep -q Linux && [ -d /proc/net -a ! -f /proc/net/igmp ]
then
    db_input medium libslp1/multicast || true
    db_go
fi

# Check for multicast route, 
# Disabled for now because it's not clear whether multicast route is really
# needed.
# (Don't forget to add Pre-depends on "iproute | net-tools" if enabling this!)
#if [ -f /bin/netstat ] && ! netstat -rn | grep "224\.0\.0\.0" >/dev/null || \
#        [ -f /bin/ip ] && ! ip route show | grep "224\.0\.0\.0" >/dev/null
#then
#    db_input medium libslp1/multicast-route || true
#    db_go
#fi

