#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

if \
	[ -f /etc/modprobe.d/linux-sound-base_noOSS.conf ] \
	&& [ ! -f /etc/modprobe.d/linux-sound-base_noALSA.conf ]
then
	db_set linux-sound-base/sound_system ALSA || :
elif \
	[ ! -f /etc/modprobe.d.d/linux-sound-base_noOSS.conf ] \
	&& [ -f /etc/modprobe.d/linux-sound-base_noALSA.conf ]
then
	db_set linux-sound-base/sound_system OSS || :
fi

db_input low linux-sound-base/sound_system || :
db_go || :
db_stop || :
