scrollbar,
scrollbarbutton,
scrollbar thumb[orient="vertical"],
scrollbar thumb[orient="horizontal"] {
  -moz-appearance: none
}

scrollcorner {
  background: darkgray;
}

scrollbar {
  background: lightgray;
}

scrollbar thumb {
  background-color: darkgray;
  border-radius: 10px;
  border: 1px solid black;
}

scrollbar thumb:hover {
  background-color: darkgray;
}

scrollbar[orient="vertical"] {
  width: 50px;
}

scrollbar[orient="horizontal"] {
  height: 50px;
}

scrollbarbutton {
  height: 50px;
}
