@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#grabanddrag-button {
  -moz-image-region: rect(24px 24px 48px 0px);
  list-style-image: url(chrome://grabanddrag/skin/grabanddragtb.png);
}
#grabanddrag-button[gadOn="false"] {
  -moz-image-region: rect(0px 48px 24px 24px);
}
#grabanddrag-button[gadOn="true"] {
  -moz-image-region: rect(0px 72px 24px 48px);
}
#grabanddrag-button[gadOn="QT"] {
  -moz-image-region: rect(0px 96px 24px 72px);
}
#grabanddrag-button[gadOn="BL"] {
  -moz-image-region: rect(0px 24px 24px 0px);
}
toolbar[iconsize="small"] > #grabanddrag-button {
  -moz-image-region: rect(18px 18px 18px 0px);
  list-style-image: url(chrome://grabanddrag/skin/grabanddragtbsmall18.png);
}
toolbar[iconsize="small"] > #grabanddrag-button[gadOn="false"]  {
  -moz-image-region: rect(0px 36px 18px 18px);
}
toolbar[iconsize="small"] > #grabanddrag-button[gadOn="true"] {
  -moz-image-region: rect(0px 54px 18px 36px);
}
toolbar[iconsize="small"] > #grabanddrag-button[gadOn="QT"] {
  -moz-image-region: rect(0px 72px 18px 54px);
}
toolbar[iconsize="small"] > #grabanddrag-button[gadOn="BL"] {
  -moz-image-region: rect(0px 18px 18px 0px);
}
