@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#grabanddrag-button {
  -moz-image-region: rect(18px 18px 18px 0px);
  list-style-image: url(chrome://grabanddrag/skin/grabanddragtbsmall18.png);
}
#grabanddrag-button[gadOn="false"]  {
  -moz-image-region: rect(0px 36px 18px 18px);
}
#grabanddrag-button[gadOn="true"] {
  -moz-image-region: rect(0px 54px 18px 36px);
}
#grabanddrag-button[gadOn="QT"] {
  -moz-image-region: rect(0px 72px 18px 54px);
}
#grabanddrag-button[gadOn="BL"] {
  -moz-image-region: rect(0px 18px 18px 0px);
}
