
	#back-button,
	#forward-button,
	#stop-button,
	#reload-button,
	#home-button,
	#home-button.bookmark-item,
	#downloads-button,
	#history-button,
	#bookmarks-button,
	#bookmarks-menu-button,
	#bookmarks-menu-button.bookmark-item,
	#print-button,
	toolbar:not([id="TabsToolbar"]) #new-tab-button,
	#new-window-button,
	#cut-button,
	#copy-button,
	#paste-button,
	#fullscreen-button,
	#zoom-out-button,
	#zoom-in-button,
	#sync-button,
	#feed-button {
	list-style-image: url("chrome://BigButtons/skin/Toolbar.png")!important;

	}

	#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar :-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button):not(:-moz-any(#alltabs-button,#tabview-button,#new-tab-button,#sync-button[status])) > .toolbarbutton-icon {
	list-style-image: url("chrome://BigButtons/skin/Toolbar.png")!important;

	}
	
	

#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([disabled]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([disabled]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > .toolbarbutton-1:-moz-any([disabled],:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon {
  background-image: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):not([open]):not(:active):hover > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button:not([open]):not(:active):not([disabled]):hover > .toolbarbutton-icon {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover:active > .toolbarbutton-icon,
#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  text-shadow: none!important;
  transition: none!important;
}

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl),
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-text {
  transform: none !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button {
  -moz-box-align: center!important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button {
  padding: 0!important;

}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > menupopup {
  margin-top: 1px!important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button > .toolbarbutton-icon {
  mask: none !important;
  -moz-margin-start: -14px !important;
  border-left-style: none!important;
  border-radius: 0!important;
  padding-left: 15px!important;
  padding-right: 3px!important;

}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not([switchingtabs]) > #forward-button {
  transition: none!important;
}


window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not(:hover) > #forward-button[disabled] {
  -moz-margin-end: -35px!important;

}


window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:hover > #forward-button[disabled] {
  -moz-margin-end: -35px!important;
  transition: none!important;
opacity: 0!important;

}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button {
 -moz-image-region: rect(0px, 64px, 64px, 0)!important;
margin-left: 4px!important;
  padding: 4px!important;

  -moz-padding-start: 0px!important;
  -moz-padding-end: 0px!important;
  position: relative!important;
  z-index: 1!important;
  border-radius: 0px !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:-moz-locale-dir(rtl) {
  border-radius: 0px !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button > menupopup {
  margin-top: -1px!important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button > .toolbarbutton-icon {
  border-radius: 0px!important;
  padding: 0px!important;
	box-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
  transition: none!important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
	box-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button:not([disabled="true"]):hover:active > .toolbarbutton-icon,
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button[open="true"] > .toolbarbutton-icon {
	box-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
  transition: none!important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #back-button[disabled] > .toolbarbutton-icon {
  box-shadow:none!important;
  transition: none!important;
}

.unified-nav-back[_moz-menuactive]:-moz-locale-dir(ltr),
.unified-nav-forward[_moz-menuactive]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://browser/skin/menu-back.png") !important;
}

.unified-nav-forward[_moz-menuactive]:-moz-locale-dir(ltr),
.unified-nav-back[_moz-menuactive]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://browser/skin/menu-forward.png") !important;


}

#nav-bar .toolbarbutton-1,
	 .toolbarbutton-menubutton-button,
	 .toolbarbutton-menubutton-dropmarker  {
	box-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;

	} 

	#nav-bar .toolbarbutton-1:hover,
	 .toolbarbutton-menubutton-button:hover,
	 .toolbarbutton-menubutton-dropmarker:hover  {
box-shadow: inset 0px -1px 0px 1px rgba(0, 0, 0, 0.1)  !important;
-moz-appearance: none !important;
background-color: transparent !important;
background-image: linear-gradient(#F5F7F9 10%, #C6CED6 75%)  !important;
	border: none !important;

	} 

	#nav-bar .toolbarbutton-1:active,
	 .toolbarbutton-menubutton-button:active,
	 .toolbarbutton-menubutton-dropmarker:active {
box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2) !important;
-moz-appearance: none !important;
background-color: transparent !important;
background-image: linear-gradient(#C6CED6 10%, #F5F7F9  95%)  !important;
border: none !important;
  transition: none !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;

} 




	#back-button {
	  -moz-image-region: rect(0, 64px, 64px, 0);
	}

	#forward-button {
	  -moz-image-region: rect(0px 128px 64px 64px);
	}

	/* stop button */

	#stop-button {
	  -moz-image-region: rect(0, 192px, 64px, 128px);
	}

	/* reload button */

	#reload-button {
	  -moz-image-region: rect(0, 256px, 64px, 192px);
	}

	/* home button */

	#home-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	#home-button {
	  -moz-image-region: rect(0, 320px, 64px, 256px);
	}

	/* download manager button */

	#downloads-button {
	  -moz-image-region: rect(0, 384px, 64px, 320px);
	}

	/* history sidebar button */

	#history-button {
	  -moz-image-region: rect(0, 448px, 64px, 384px);
	}

	/* bookmark sidebar & menu buttons */

	#bookmarks-button,
	#bookmarks-menu-button {
	  -moz-image-region: rect(0, 512px, 64px, 448px);
	}

	#bookmarks-menu-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}

	#bookmarks-menu-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal;
	}

	/* print button */

	#print-button {
	  -moz-image-region: rect(0, 576px, 64px, 512px);
	}

	/* toolbar new tab button */

	#new-tab-button {
	  -moz-image-region: rect(0, 640px, 64px, 576px);
	}

	/* new window button */

	#new-window-button {
	  -moz-image-region: rect(0, 704px, 64px, 640px);
	}

	/* cut button */

	#cut-button {
	  -moz-image-region: rect(0, 768px, 64px, 704px);
	}

	/* copy button */

	#copy-button {
	  -moz-image-region: rect(0, 832px, 64px, 768px);
	}

	/* paste button */

	#paste-button {
	  -moz-image-region: rect(0, 896px, 64px, 832px);
	}

	/* fullscreen button */

	#fullscreen-button {
	  -moz-image-region: rect(0, 960px, 64px, 896px);
	}

	/* zoom controls */

	#zoom-out-button {
	  -moz-image-region: rect(0, 1024px, 64px, 960px);
	}

	#zoom-in-button {
	  -moz-image-region: rect(0, 1088px, 64px, 1024px);
	}

	#nav-bar #zoom-out-button {
	  -moz-margin-end: 0!important;
	}

	#nav-bar #zoom-in-button {
	  -moz-border-start: none!important;
	  -moz-margin-start: 0!important;
	}

	#nav-bar #zoom-out-button:-moz-locale-dir(ltr),
	#nav-bar #zoom-in-button:-moz-locale-dir(rtl) {
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}

	#nav-bar #zoom-out-button:-moz-locale-dir(rtl),
	#nav-bar #zoom-in-button:-moz-locale-dir(ltr) {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}

	/* sync button */

	#sync-button {
	  -moz-image-region: rect(0, 1152px, 64px, 1088px);
	}

	#sync-button[status="active"] {
	  list-style-image: url("chrome://browser/skin/sync-throbber.png");
	  -moz-image-region: rect(0, 1152px, 64px, 1088px);
	}

	/* feed button */

	#feed-button {
	  -moz-image-region: rect(0, 1216px, 64px, 1152px);
	}

	/* tabview button */


	#tabview-button {
	  -moz-image-region: rect(0, 320px, 64px, 256px)
	}

	#tabview-button[groups="0"] {
	  -moz-image-region: rect(0, 64px, 64px, 0)
	}

	#tabview-button[groups="1"] {
	  -moz-image-region: rect(0, 128px, 64px, 64px)
	}

	#tabview-button[groups="2"] {
	  -moz-image-region: rect(0, 192px, 64px, 128px)
	}

	#tabview-button[groups="3"] {
	  -moz-image-region: rect(0, 256px, 64px, 192px)
	}


	#menu_tabview {
	  -moz-image-region: rect(0, 64px, 64px, 0)
	}

	#menu_tabview[groups="0"] {
	  -moz-image-region: rect(0, 96px, 64px, 64px)
	}

	#menu_tabview[groups="1"] {
	  -moz-image-region: rect(0, 144px, 64px, 96px)
	}

	#menu_tabview[groups="2"] {
	  -moz-image-region: rect(1px, 53px, 17px, 37px)
	}

	#menu_tabview[groups="3"] {
	  -moz-image-region: rect(0, 192px, 64px, 144px)
	}


	#tabview-button,
	#menu_tabview {
	list-style-image: url("chrome://BigButtons/skin/tabview.png") !important;
	}


	/* small -------------------*/


#navigator-toolbox[iconsize=large][mode=icons] > #nav-bar :-moz-any(
	#back-button,
	#forward-button,
	#stop-button,
	#reload-button,
	#home-button,
	#home-button.bookmark-item,
	#downloads-button,
	#history-button,
	#bookmarks-button,
	#bookmarks-menu-button,
	#bookmarks-menu-button.bookmark-item,
	#print-button,
	toolbar:not([id="TabsToolbar"]) #new-tab-button,
	#new-window-button,
	#cut-button,
	#copy-button,
	#paste-button,
	#fullscreen-button,
	#zoom-out-button,
	#zoom-in-button,
	#sync-button,
	#feed-button) {
	list-style-image: url("chrome://BigButtons/skin/smallToolbar.png") !important;

	}

	#navigator-toolbox[iconsize=small][mode=icons] > #nav-bar :-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button):not(:-moz-any(#alltabs-button,#tabview-button,#new-tab-button,#sync-button[status])) > .toolbarbutton-icon {
	list-style-image: url("chrome://BigButtons/skin/smallToolbar.png") !important;

	}

	#navigator-toolbox[iconsize=small][mode=icons] > #nav-bar #back-button > .toolbarbutton-icon {
	  border-radius: 0px !important;
	  padding: 0px;
	  border: none;
	  background-image: none !important;
	  box-shadow: none !important;
	}

	#navigator-toolbox[iconsize=small][mode=icons] > #nav-bar #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5)  !important;
	-moz-appearance: none !important;
	background-color: transparent !important;
	background-image: linear-gradient(rgba(255, 255, 255, 0.7) 20%,  rgba(255, 255, 255, 0) 50%)  !important;
	border: none !important;

	}

	#navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #back-button {
	  -moz-image-region: rect(0px, 48px, 48px, 0)!important;
	}

	#navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #back-button {
	  border-radius: 0px !important;
	  padding: 0;
	  width: 60px !important;
	  height: 48px !important;
	  position: relative;
	  z-index: 1;
	  margin-top: 0px !important;
	  margin-bottom: 0px;
	  border: none !important;

	}


	#navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #back-button {
	-moz-margin-start: 5px !important;
	margin: 1px 0px 1px 4px !important;
	border-radius: 0px !important;
	z-index: 1;
	border: none !important;

	}


	toolbox[iconsize="small"] #back-button {
	  -moz-image-region: rect(0, 48px, 48px, 0);
	}

	toolbox[iconsize="small"] #forward-button {
	  -moz-image-region: rect(0, 96px, 48px, 48px);
	}

	/* stop button */

	toolbox[iconsize="small"] #stop-button {
	  -moz-image-region: rect(0, 144px, 48px, 96px);
	}

	/* reload button */

	toolbox[iconsize="small"] #reload-button {
	  -moz-image-region: rect(0, 192px, 48px, 144px);
	}

	/* home button */

	toolbox[iconsize="small"] #home-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	toolbox[iconsize="small"] #home-button {
	  -moz-image-region: rect(0, 240px, 48px, 192px);
	}

	/* download manager button */

	toolbox[iconsize="small"] #downloads-button {
	  -moz-image-region: rect(0, 288px, 48px, 240px);
	}

	/* history sidebar button */

	toolbox[iconsize="small"] #history-button {
	  -moz-image-region: rect(0, 336px, 48px, 288px);
	}

	/* bookmark sidebar & menu buttons */

	toolbox[iconsize="small"] #bookmarks-button,
	toolbox[iconsize="small"] #bookmarks-menu-button {
	  -moz-image-region: rect(0, 384px, 48px, 336px);
	}

	toolbox[iconsize="small"] #bookmarks-menu-button.bookmark-item {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}

	toolbox[iconsize="small"] #bookmarks-menu-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal;
	}

	/* print button */

	toolbox[iconsize="small"] #print-button {
	  -moz-image-region: rect(0, 432px, 48px, 384px);
	}

	/* toolbar new tab button */

	toolbox[iconsize="small"] #new-tab-button {
	  -moz-image-region: rect(0, 480px, 48px, 432px);
	}

	/* new window button */

	toolbox[iconsize="small"] #new-window-button {
	  -moz-image-region: rect(0, 528px, 48px, 480px);
	}

	/* cut button */

	toolbox[iconsize="small"] #cut-button {
	  -moz-image-region: rect(0, 576px, 48px, 528px);
	}

	/* copy button */

	toolbox[iconsize="small"] #copy-button {
	  -moz-image-region: rect(0, 624px, 48px, 576px);
	}

	/* paste button */

	toolbox[iconsize="small"] #paste-button {
	  -moz-image-region: rect(0, 672px, 48px, 624px);
	}

	/* fullscreen button */

	toolbox[iconsize="small"] #fullscreen-button {
	  -moz-image-region: rect(0, 720px, 48px, 672px);
	}

	/* zoom controls */

	toolbox[iconsize="small"] #zoom-out-button {
	  -moz-image-region: rect(0, 768px, 48px, 720px);
	}

	toolbox[iconsize="small"] #zoom-in-button {
	  -moz-image-region: rect(0, 816px, 48px, 768px);
	}

	toolbox[iconsize="small"] #nav-bar #zoom-out-button {
	  -moz-margin-end: 0;
	}

	toolbox[iconsize="small"] #nav-bar #zoom-in-button {
	  -moz-border-start: none;
	  -moz-margin-start: 0;
	}

	toolbox[iconsize="small"] #nav-bar #zoom-out-button:-moz-locale-dir(ltr),
	toolbox[iconsize="small"] #nav-bar #zoom-in-button:-moz-locale-dir(rtl) {
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}

	toolbox[iconsize="small"] #nav-bar #zoom-out-button:-moz-locale-dir(rtl),
	toolbox[iconsize="small"] #nav-bar #zoom-in-button:-moz-locale-dir(ltr) {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}

	/* sync button */

	toolbox[iconsize="small"] #sync-button {
	  -moz-image-region: rect(0, 864px, 48px, 816px);
	}

	toolbox[iconsize="small"] #sync-button[status="active"] {
	  list-style-image: url("chrome://browser/skin/sync-throbber.png");
	  -moz-image-region: rect(0, 48px, 48px, 0);
	}

	/* feed button */

	toolbox[iconsize="small"] #feed-button {
	  -moz-image-region: rect(0, 912px, 48px, 864px);
	}

	/* tabview button */


	toolbox[iconsize="small"] #tabview-button {
	  -moz-image-region: rect(0, 240px, 48px, 192px)
	}

	toolbox[iconsize="small"] #tabview-button[groups="0"] {
	  -moz-image-region: rect(0, 48px, 48px, 0)
	}

	toolbox[iconsize="small"] #tabview-button[groups="1"] {
	  -moz-image-region: rect(0, 96px, 48px, 48px)
	}

	toolbox[iconsize="small"] #tabview-button[groups="2"] {
	  -moz-image-region: rect(0, 144px, 48px, 96px)
	}

	toolbox[iconsize="small"] #tabview-button[groups="3"] {
	  -moz-image-region: rect(0, 192px, 48px, 144px)
	}


	toolbox[iconsize="small"] #menu_tabview {
	  -moz-image-region: rect(0, 48px, 48px, 0)
	}

	toolbox[iconsize="small"] #menu_tabview[groups="0"] {
	  -moz-image-region: rect(0, 96px, 48px, 48px)
	}

	toolbox[iconsize="small"] #menu_tabview[groups="1"] {
	  -moz-image-region: rect(0, 144px, 48px, 96px)
	}

	toolbox[iconsize="small"] #menu_tabview[groups="2"] {
	  -moz-image-region: rect(1px, 53px, 17px, 37px)
	}

	toolbox[iconsize="small"] #menu_tabview[groups="3"] {
	  -moz-image-region: rect(0, 192px, 48px, 144px)
	}


	toolbox[iconsize="small"] #tabview-button,
	#menu_tabview {
	list-style-image: url("chrome://BigButtons/skin/smalltabview.png") !important;

	}

/*  Customize Toolbar */


#palette-box > toolbarpaletteitem > #unified-back-forward-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #stop-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #reload-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #home-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #downloads-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #history-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #bookmarks-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #bookmarks-menu-button-container .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #print-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #new-window-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #cut-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #copy-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #paste-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #fullscreen-button .toolbarbutton-icon {
 width: 48px !important;

} 

#palette-box > toolbarpaletteitem > #zoom-controls > #zoom-in-button .toolbarbutton-icon {
  width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #zoom-controls > #zoom-out-button .toolbarbutton-icon {
  width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #sync-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #feed-button .toolbarbutton-icon {
 width: 48px !important;

} 

 #palette-box > toolbarpaletteitem > #tabview-button .toolbarbutton-icon {
 width: 48px !important;

} 




