<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.hostname1.set-hostname">
                <description>Set host name</description>
                <description xml:lang="de">Rechnername festlegen</description>
                <description xml:lang="el">Ορισμός ονόματος οικοδεσπότη</description>
                <description xml:lang="fr">Définir le nom d'hôte</description>
                <description xml:lang="it">Configura il nome host</description>
                <description xml:lang="pl">Ustawienie nazwy komputera</description>
                <description xml:lang="ru">Настроить имя компьютера</description>
                <message>Authentication is required to set the local host name.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen des lokalen Rechnernamens notwendig</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε τοπικά όνομα οικοδεσπότη.</message>
                <message xml:lang="fr">Authentification requise pour définir le nom d'hôte local.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare il nome host locale.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić nazwę lokalnego komputera.</message>
                <message xml:lang="ru">Чтобы настроить имя компьютера, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.hostname1.set-static-hostname">
                <description>Set static host name</description>
                <description xml:lang="de">Statischen Rechnernamen festlegen</description>
                <description xml:lang="el">Ορισμός στατικού ονόματος οικοδεσπότη</description>
                <description xml:lang="fr">Définir le nom d'hôte statique</description>
                <description xml:lang="it">Configura il nome host statico</description>
                <description xml:lang="pl">Ustawienie statycznej nazwy komputera</description>
                <description xml:lang="ru">Настроить статическое имя компьютера</description>
                <message>Authentication is required to set the statically configured local host name, as well as the pretty host name.</message>
                <message xml:lang="de">Authentifizierung ist erforderlich, um den statisch geänderten, lokalen Rechnernamen, sowie den beschönigten Rechnernamen festzulegen.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε το στατικά ρυθμισμένο όνομα τοπικού οικοδεσπότη, καθώς και το pretty όνομα οικοδεσπότη.</message>
                <message xml:lang="fr">Authentification requise pour définir le nom d'hôte local de manière statique, tout comme le nom d'hôte familier.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare staticamente il nome host locale e il nome host descrittivo.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić statycznie skonfigurowaną nazwę lokalnego komputera, a także jego ładną nazwę.</message>
                <message xml:lang="ru">Чтобы настроить статическое имя компьютера, а также его «красивое» имя, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.imply">org.freedesktop.hostname1.set-hostname org.freedesktop.hostname1.set-machine-info</annotate>
        </action>

        <action id="org.freedesktop.hostname1.set-machine-info">
                <description>Set machine information</description>
                <description xml:lang="de">Maschinen-Information festlegen</description>
                <description xml:lang="el">Ορισμός πληροφοριών μηχανής</description>
                <description xml:lang="fr">Définir les informations sur la machine</description>
                <description xml:lang="it">Configura le informazioni sulla macchina</description>
                <description xml:lang="pl">Ustawienie informacji o komputerze</description>
                <description xml:lang="ru">Настроить информацию о компьютере</description>
                <message>Authentication is required to set local machine information.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen der lokalen Maschinen-Information erforderlich.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε πληροφορίες τοπικής μηχανής.</message>
                <message xml:lang="fr">Authentification requise pour définir les informations sur la machine locale.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare le informazioni sulla macchina locale.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić informacje o lokalnym komputerze.</message>
                <message xml:lang="ru">Чтобы настроить информацию о компьютере, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

</policyconfig>