<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.systemd1.reply-password">
                <description>Send passphrase back to system</description>
                <description xml:lang="de">Passphrase zurück an das System senden</description>
                <description xml:lang="el">Αποστολή του συνθηματικού πίσω στο σύστημα</description>
                <description xml:lang="fr">Renvoyer la phrase secrète au système</description>
                <description xml:lang="it">Inviare la frase segreta (passphrase) al sistema</description>
                <description xml:lang="pl">Wysłanie hasła z powrotem do systemu</description>
                <description xml:lang="ru">Отправить пароль системе</description>
                <message>Authentication is required to send the entered passphrase back to the system.</message>
                <message xml:lang="de">Legitimierung ist zum Senden des eingegebenen Kennworts zurück an das System notwendig.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για αποστολή του εισερχόμενου συνθηματικού πίσω στο σύστημα.</message>
                <message xml:lang="fr">Authentification requise pour renvoyer la phrase secrète au système.</message>
                <message xml:lang="it">Autenticazione richiesta per inviare la frase segreta (passphrase) al sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby wysłać podane hasło z powrotem do systemu.</message>
                <message xml:lang="ru">Чтобы отправить пароль системе, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>no</allow_any>
                        <allow_inactive>no</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/systemd/systemd-reply-password</annotate>
        </action>

        <action id="org.freedesktop.systemd1.bus-access">
                <description>Privileged system and service manager access</description>
                <description xml:lang="de">Privilegierter Zugriff auf die System- und Dienstverwaltung</description>
                <description xml:lang="el">Προνομιούχος πρόσβαση διαχειριστή συστήματος και υπηρεσίας</description>
                <description xml:lang="fr">Accès privilégié au gestionnaire du système et des services</description>
                <description xml:lang="it">Accesso privilegiato per la gestione del sistema e dei servizi</description>
                <description xml:lang="pl">Uprawniony dostęp do menedżera systemu i usług</description>
                <description xml:lang="ru">Привилегированный доступ к системному менеджеру</description>
                <message>Authentication is required to access the system and service manager.</message>
                <message xml:lang="de">Legitimierung ist notwendig für den Zugriff auf die System- und Dienstverwaltung.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να προσπελάσετε τον διαχειριστή συστήματος και υπηρεσιών.</message>
                <message xml:lang="fr">Authentification requise pour accéder au gestionnaire du système et des services.</message>
                <message xml:lang="it">Autenticazione richiesta per la gestione del sistema e dei servizi.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby uzyskać dostęp do menedżera systemu i usług.</message>
                <message xml:lang="ru">Для привилегированного доступа к системному менеджеру необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>no</allow_any>
                        <allow_inactive>no</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemd-stdio-bridge</annotate>
        </action>

</policyconfig>