<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.locale1.set-locale">
                <description>Set system locale</description>
                <description xml:lang="de">Die lokale Sprachumgebung festlegen</description>
                <description xml:lang="el">Ορισμός τοπικών ρυθμίσεων συστήματος</description>
                <description xml:lang="fr">Définir la langue du système</description>
                <description xml:lang="it">Configura le impostazioni regionali di sistema</description>
                <description xml:lang="pl">Ustawienie lokalizacji systemu</description>
                <description xml:lang="ru">Настроить системную локаль</description>
                <message>Authentication is required to set the system locale.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen der systemweiten Spracheinstellungen erforderlich.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε τις τοπικές ρυθμίσεις του συστήματος.</message>
                <message xml:lang="fr">Authentification requise pour définir la langue du système.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare le impostazioni regionali di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić lokalizację systemu.</message>
                <message xml:lang="ru">Чтобы настроить системную локаль, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.imply">org.freedesktop.locale1.set-keyboard</annotate>
        </action>

        <action id="org.freedesktop.locale1.set-keyboard">
                <description>Set system keyboard settings</description>
                <description xml:lang="de">Tastatureinstellungen des Systems festlegen</description>
                <description xml:lang="el">Ορισμός ρυθμίσεων πληκτρολογίου συστήματος</description>
                <description xml:lang="fr">Définir les paramètres de clavier du système</description>
                <description xml:lang="it">Configura la tastiera di sistema</description>
                <description xml:lang="pl">Ustawienie klawiatury systemu</description>
                <description xml:lang="ru">Настроить параметры клавиатуры</description>
                <message>Authentication is required to set the system keyboard settings.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen der Tastatureinstellungen des Systems erforderlich.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε τις ρυθμίσεις πληκτρολογίου του συστήματος.</message>
                <message xml:lang="fr">Authentification requise pour définir les paramètres de clavier du système.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare la tastiera di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić klawiaturę systemu.</message>
                <message xml:lang="ru">Чтобы настроить параметры клавиатуры, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

</policyconfig>