<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.timedate1.set-time">
                <description>Set system time</description>
                <description xml:lang="de">Die Systemzeit festlegen</description>
                <description xml:lang="el">Ορισμός ώρας συστήματος</description>
                <description xml:lang="fr">Définir l'heure du système</description>
                <description xml:lang="it">Configura l'orario di sistema</description>
                <description xml:lang="pl">Ustawienie czasu systemu</description>
                <description xml:lang="ru">Настроить системное время</description>
                <message>Authentication is required to set the system time.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen der Systemzeit notwendig.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε την ώρα του συστήματος.</message>
                <message xml:lang="fr">Authentification requise pour définir l'heure du système.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare l'orario di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić czas systemu.</message>
                <message xml:lang="ru">Чтобы настроить системное время, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.imply">org.freedesktop.timedate1.set-timezone org.freedesktop.timedate1.set-ntp</annotate>
        </action>

        <action id="org.freedesktop.timedate1.set-timezone">
                <description>Set system timezone</description>
                <description xml:lang="de">Die Systemzeitzone festlegen</description>
                <description xml:lang="el">Ορισμός ζώνης ώρας συστήματος</description>
                <description xml:lang="fr">Définir le fuseau horaire du système</description>
                <description xml:lang="it">Configura il fuso orario di sistema</description>
                <description xml:lang="pl">Ustawienie strefy czasowej systemu</description>
                <description xml:lang="ru">Настроить часовой пояс</description>
                <message>Authentication is required to set the system timezone.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen der Systemzeitzone notwendig.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ορίσετε την ώρα ζώνης του συστήματος.</message>
                <message xml:lang="fr">Authentification requise pour définir le fuseau horaire du système.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare il fuso orario di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić strefę czasową systemu.</message>
                <message xml:lang="ru">Чтобы настроить часовой пояс, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.timedate1.set-local-rtc">
                <description>Set RTC to local timezone or UTC</description>
                <description xml:lang="de">Echtzeituhr auf lokale Zeitzone oder UTC setzen</description>
                <description xml:lang="el">Ορισμός RTC στην τοπική ζώνη ώρας ή UTC</description>
                <description xml:lang="fr">Positionner l'horloge matérielle à l'heure locale ou sur le temps universel coordonné (UTC)</description>
                <description xml:lang="it">Configura l'orologio di sistema (RTC) al fuso orario locale o al tempo civile (UTC)</description>
                <description xml:lang="pl">Ustawienie RTC na lokalną strefę czasową lub strefę UTC</description>
                <description xml:lang="ru">Установить аппаратные часы по местному времени или по Гринвичу</description>
                <message>Authentication is required to control whether the RTC stores the local or UTC time.</message>
                <message xml:lang="de">Legitimierung ist notwendig zum Festlegen, ob die Echtzeituhr auf lokale Zeitzone oder UTC eingestellt ist.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ελέγξετε αν το RTC αποθηκεύει την τοπική ή την ώρα UTC.</message>
                <message xml:lang="fr">Authentification requise pour positionner l'horloge matérielle à l'heure locale ou sur le temps universel coordonné (UTC).</message>
                <message xml:lang="it">Autenticazione richiesta per verificare se l'orologio di sistema (RTC) è configurato all'orario locale o al tempo civile (UTC).</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby kontrolować, czy RTC przechowuje czas lokalny lub czas UTC.</message>
                <message xml:lang="ru">Чтобы контролировать, установлены аппаратные часы по местному времени или по Гринвичу, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.timedate1.set-ntp">
                <description>Turn network time synchronization on or off</description>
                <description xml:lang="de">Netzwerkzeitabgeich ein- oder ausschalten</description>
                <description xml:lang="el">Ενεργοποίηση/Απενεργοποίηση συγχρονισμού ώρας δικτύου</description>
                <description xml:lang="fr">Activer ou désactiver la synchronisation de l'heure avec le réseau</description>
                <description xml:lang="it">Abilita o meno la sincronizzazione dell'orario in rete</description>
                <description xml:lang="pl">Włączenie lub wyłączenie synchronizacji czasu przez sieć</description>
                <description xml:lang="ru">Включить или выключить синхронизацию времени по сети</description>
                <message>Authentication is required to control whether network time synchronization shall be enabled.</message>
                <message xml:lang="de">Legitimierung ist zum Festlegen, ob Netzwerkzeitabgeich eingeschaltet sein soll, erforderlich.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για να ελέγξετε αν ο συγχρονισμός ώρας δικτύου θα ενεργοποιηθεί.</message>
                <message xml:lang="fr">Authentification requise pour activer ou désactiver la synchronisation de l'heure avec le réseau.</message>
                <message xml:lang="it">Autenticazione richiesta per verificare se la sincronizzazione dell'orario in rete debba essere attivata.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby kontrolować, czy włączyć synchronizację czasu przez sieć.</message>
                <message xml:lang="ru">Чтобы включить или выключить синхронизацию времени по сети, необходимо пройти аутентификацию.</message>
                <defaults>
                        <allow_any>auth_admin_keep</allow_any>
                        <allow_inactive>auth_admin_keep</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

</policyconfig>