report-with: nvidia-glx libgl1-nvidia-glx xserver-xorg-video-nvidia nvidia-alternative nvidia-kernel-dkms nvidia-kernel-source glx-alternative-nvidia

package-status: nvidia-glx nvidia-kernel-dkms nvidia-kernel-source nvidia-glx-any libgl1-nvidia-glx-any libgl1-nvidia-glx-ia32-any libgl1-nvidia-glx-ia32 libgl1-nvidia-legacy-173xx-glx-ia32 libgl1-nvidia-legacy-96xx-glx-ia32 libgl1-nvidia-alternatives-ia32 xserver-xorg-video-nvidia-any nvidia-settings nvidia-xconfig nvidia-support nvidia-kernel-common xserver-xorg xserver-xorg-core linux-headers libdrm-nouveau1 libdrm-nouveau1a xserver-xorg-video-nouveau ia32-libs
