/*
 * This file contains all localizable skin settings such as 
 *   font, layout, and geometry
 */
window { 
  font: 3mm tahoma,arial,helvetica,sans-serif;
}

#migrationWizard {
  min-width: 50em !important;
}

#AdvancedEdit {
  min-width: 25em !important;
}

