[Desktop Entry]
Encoding=UTF-8
X-Soprano-Library=soprano_nquadserializer
X-Soprano-Plugin-Author=Sebastian Trueg
X-Soprano-Plugin-EMail=trueg@kde.org
X-Soprano-Plugin-Website=http://soprano.sourceforge.net
X-Soprano-Plugin-License=GPL
X-Soprano-Plugin-Version=1.0
X-Soprano-Version=2.7.6
Type=Service
ServiceTypes=Soprano/Serializer
Name=N-Quad Serializer
Comment=Soprano serializer plugin that does simple serialization to N-Quads
