[Desktop Entry]
Encoding=UTF-8
X-Soprano-Library=soprano_raptorparser
X-Soprano-Plugin-Author=Duncan Mac-Vicar
X-Soprano-Plugin-EMail=duncan@kde.org
X-Soprano-Plugin-Author=Sebastian Trueg
X-Soprano-Plugin-EMail=trueg@kde.org
X-Soprano-Plugin-Website=http://soprano.sourceforge.net
X-Soprano-Plugin-License=GPL
X-Soprano-Plugin-Version=2.0
X-Soprano-Version=2.7.6
Type=Service
ServiceTypes=Soprano/Parser
Name=Raptor Parser
Comment=Soprano parser plugin based on raptor
