/*
 * Webconverger.com
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#apmenu-button,
#bookmarks-menu-button,
#content > tabbox > .tabbrowser-strip > menupopup[anonid="tabContextMenu"],
#context-bookmarkframe,
#context-bookmarklink,
#context-bookmarkpage,
#context-keywordfield,
#context_pinTab, #context_unpinTab,
#context-metadata,
#context-openframe,
#context-openframeintab,
#context-openlink,
#context-openlinkintab,
#context-reload,
#tabContextMenu,
#context-reloadframe,
#context-saveframe,
#context-saveimage,
#context-savelink,
#context-savepage,
#context-sendimage,
#context-sendlink,
#context-sendpage,
#context-sep-copylink,
#context-sep-properties,
#context-sep-selectall,
#context-sep-stop,
#context-sep-undo,
#context-sep-viewbgimage,
#context_tabViewMenu,
#developer-toolbar,
#context-setDesktopBackground,
#context-stop,
#context-viewframeinfo,
#context-viewframesource,
#context-viewimageinfo,
#context-viewinfo,
#context-viewpartialsource-mathml,
#context-viewpartialsource-selection,
#context-viewsource,
#downloadManager,
#download-monitor,
#downloads-button,
#editBookmarkPanel,
#editBookmarkPanelStarIcon,
#feed-button,
#go-button,
#go-button-stack,
#loop-button,
#loop-button-throttled,
#panic-button,
#web-apps-button,
#javascriptConsole,
menuitem[label="Error Console"],
menu.bookmark-item,
menuitem[command="Browser:SavePage"],
menuitem[disabled="true"],
menuitem[disabled="true"] + menuseparator,
#menu_openDownloads,
#PersonalToolbar,
#search-container,
#star-button,
#throbber-box,
toolbarbutton.bookmark-item,
#toolbar-context-menu,
#toolbar-menubar,
#context_bookmarkAllTabs,
#spell-add-dictionaries-main,
#spell-dictionaries,
#context-sep-paste,
#startPrivateBrowsing,
#page-menu-separator,
#spell-suggestions-separator,
#context-sep-open,
#context-sep-copylink,
#context-media-sep-commands,
#context-sep-copyimage,
#context-sep-stop,
#context-sep-viewbgimage,
#context-sep-undo,
#context-sep-paste,
#context-sep-selectall,
#frame-sep,
#context-sep-viewsource,
#spell-separator,
#spell-language-separator,
#context-sep-bidi,
#context-searchselect,
#inspect-separator,
#context-openlinkprivate,
#context-sep-selectall,
#context_openTabInWindow,
#unknownContentType { display: none !important;}

#PanelUI-button {
  display: none;
}

#wc-back {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar");
}
#wc-back[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar&state=disabled");
}

#wc-forward {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar");
}
#wc-forward[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar&state=disabled");
}

#wc-reload {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=toolbar");
}
#wc-reload[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=toolbar&state=disabled");
}

#wc-stop {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar");
}
#wc-stop[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar&state=disabled");
}

#wc-print {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar");
}
#wc-print[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar&state=disabled");
}

#wc-home {
  list-style-image: url("moz-icon://stock/gtk-home?size=toolbar");
}

#wc-home[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-home?size=toolbar&state=disabled");
}

/* Always show close button on tabs */
.tabbrowser-tabs > * > * > * > .tab-close-button:not([pinned]) {
	display: -moz-box;
	visibility: visible !important;
}

/* Don't show the little plugin icon next to the URL bar */
#notification-popup-box {
  display: none;
}
