#picker-display {
  margin: 20px;
}


/*********************************** 
 *    Gradients and Picker boxes
 ***********************************/
#left-display {
 padding-bottom: 36px;
}

#bar-display {
  margin-left: 18px;
}

#bar, #top-bar {
  border: 1px solid #555555;
  margin-left: 6px;
}

#bottom-gradient, #top-gradient {
  border: 1px solid #555555;
}

