treechildren::-moz-tree-cell(swatch) {
	margin-left : 6px;
	margin-right : 8px;
	margin-top : 1px;
}

.low-contrast {
 color: red;
}

.medium-contrast {
 color: green;
}

.high-contrast {
 color: blue;
}

#context-contrast {
  padding-left: 15px;
}

#context-contrast[themefontsizechangerrainbow-platform="Windows"] {
  padding-left: 26px;
}

#context-contrast[themefontsizechangerrainbow-platform="Linux"] {
  padding-left: 18px;
}
