#themefontsizechangerrainbow-statusbar {
  list-style-image: url('chrome://themefontsizechanger/skin/favicon.png');
}

#themefontsizechangerrainbow-analyzer-container {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}

#themefontsizechangerrainbow-analyzer-footer {
  margin-bottom: 6px;
  margin-right: 16px;
}

#themefontsizechangerrainbow-analyzer-expand {
  margin-top: 6px;
  opacity: .8;
  cursor: pointer;
}

#themefontsizechangerrainbow-analyzer-expand:hover {
  opacity: .9;
}

#themefontsizechangerrainbow-analyzer-expand:active {
  opacity: 1;
}

#themefontsizechangerrainbow-analyzer-progress {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 18px;
  margin-bottom: 10px;
  color: #444444;
  height: 40px;
}

#themefontsizechangerrainbow-analyzer-panel {
  border : 1px solid grey;
  background-color: white;
  -moz-user-focus: normal;
  -moz-appearance : none;
}

#themefontsizechangerrainbow-analyzer-progress-url {
  color: black;
  width: 260px;
}

.themefontsizechangerrainbow-swatch .themefontsizechangerrainbow-analyzer-color {
  margin-top: 4px;
}

.themefontsizechangerrainbow-analyzer-label {
  color: #707070;
  cursor: pointer;
  margin-left: 10px;
}

#themefontsizechangerrainbow-analyzer-analyze {
  margin-left: 16px;
}

.themefontsizechangerrainbow-analyzer-label:hover {
  color: #555;
}

.themefontsizechangerrainbow-analyzer-label:active {
  color: #444;
  background-color: #EEEEEE;
}

.themefontsizechangerrainbow-swatch .themefontsizechangerrainbow-analyzer-prop {
  margin-top: 5px;
  margin-left: 4px;
  height: 1em;
}

#themefontsizechangerrainbow-analyzer-panel[themefontsizechangerrainbow-platform="Mac"] .themefontsizechangerrainbow-analyzer-prop {
  height: 1.6em;
}

.themefontsizechangerrainbow-analyzer-button {
  cursor: pointer;
  max-height : 22px !important;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left : 6px;
  margin-right : 6px;
  opacity : 0.9;
}

#themefontsizechangerrainbow-swatch {
  max-width : 128px;
  border : 1px solid grey;
  -moz-user-focus: normal;
  -moz-appearance : none;
}

#themefontsizechangerrainbow-swatch:focus {
  border : 1px solid black;
}

#themefontsizechangerrainbow-swatch[themefontsizechangerrainbow-platform="Mac"],
#themefontsizechangerrainbow-swatch[themefontsizechangerrainbow-platform="Windows"] {
  font-size: 12px;
}

#themefontsizechangerrainbow-analyzer-panel[themefontsizechangerrainbow-platform="Mac"],
#themefontsizechangerrainbow-analyzer-panel[themefontsizechangerrainbow-platform="Windows"] {
  font-size: 12px;
}

#themefontsizechangerrainbow-swatch-colorval {
 margin-top : 5px;
 max-width: 70px;
 overflow: hidden;
}

.themefontsizechangerrainbow-highlight {
  margin: 3px;
  padding: 1px;
  border: 1px solid white;
  box-shadow: 0 0 1em white,
    inset 0 0 1em white;
  -moz-box-shadow: 0 0 1em white,
    inset 0 0 1em white;
  border-radius: 3px;
}

.themefontsizechangerrainbow-top-button {
  opacity: .86;
  margin: 2px;
}

.themefontsizechangerrainbow-top-button:hover {
  cursor: pointer;
  opacity: 1;
}

#themefontsizechangerrainbow-swatch-stats {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
  height: 2.4em;
}

.themefontsizechangerrainbow-swatch {
  height : 100px;
  width : 100px;
  max-width : 128px;
}

#themefontsizechangerrainbow-swatch [themefontsizechangerrainbow-platform="Mac"] #themefontsizechangerrainbow-swatch-stats{
  height: 3em;
}

#themefontsizechangerrainbow-swatch button {
  max-height : 22px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left : 6px;
  margin-right : 6px;
  opacity : 0.9;
}
