#container {
  margin-bottom: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 2px;
  -moz-user-focus: normal;
}

#color-navigator {
  margin-bottom: 14px;
}

#values-display {
  margin-left: 24px;
}

#history-buttons {
  margin-left: 16px;
}

#display-string {
  min-width: 202px;
  max-width: 202px;
  margin-left: 10px;
  margin-right: 10px;
}

window[themefontsizechangerrainbow-platform="Windows"] #display-string {
  margin-left: 12px;
  margin-right: 12px;
}

#bookmark-button .toolbarbutton-text,
#copy-button .toolbarbutton-text {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

window[themefontsizechangerrainbow-platform="Windows"] #bookmark-button .toolbarbutton-text,
window[themefontsizechangerrainbow-platform="Windows"] #copy-button .toolbarbutton-text {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

#selector-button {
  margin-left: 10px;
  margin-right: 4px;
}

window[themefontsizechangerrainbow-platform="Windows"] #selector-button{
  margin-right: 5px;
}

#selector-icon {
  border: black dashed 1px;
  width: 14px;
  height: 14px;
  margin-left: 3px;
  margin-right: 3px;
}

#inspector-button {
  list-style-image : url("chrome://themefontsizechanger/skin/plus.png");
}

#inspector-button .toolbarbutton-icon {
  padding-left: 3px;
  padding-right: 3px;
}

/*********************************** 
 *    Values display
 ***********************************/

#selector-element {
  padding-left: 8px;
  text-align: center;
}

#display-color-1, #display-color-2 {
  margin-left: 2px;
  margin-right: 5px;
  margin-bottom: 8px;
  height: 90px;
  max-width: 156px;
  overflow: hidden;
}

.highlight {
  border: 1px solid #555;
}

.highlight-light {
  border: 1px solid #DDD;
}

vbox[selected=true] {
  outline: 1px dotted #222;
}

.value-box {
  padding: 0px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 3px;
}

.selection-box {
  cursor: pointer;
}

.selection-box label {
  cursor: pointer;
}

#display-element {
  font-size: 12px;
}

#display-text {
  padding: 5px;
  font-size: 15px;
}

#contrast {
  font-size: 12px;
}

#contrast-minimum {
  font-weight: bold;
  margin-top: 8px;
}

#values-box {
  -moz-user-focus: normal;
  margin-top: 4px;
}

.values-row {
  margin-top: 14px;
}

#values-box label {
  -moz-user-focus: normal;
  margin-bottom: 0px;
}

#values-box textbox {
  margin-left: 0px !important;
}

window[themefontsizechangerrainbow-platform="Linux"] #values-box textbox {
  width: 44px;
}

window[themefontsizechangerrainbow-platform="Windows"] #values-box textbox {
  width: 36px;
}

window[themefontsizechangerrainbow-platform="Mac"] #values-box textbox {
  width: 36px;
}

radio .radio-label-box  {
  display: none;
}

/*********************************** 
 *    Gradients and Picker boxes
 ***********************************/
#left-display {
 padding-bottom: 36px;
}

#picker-display {
  margin-left: 10px;
}

#bar-display {
  margin-left: 18px;
  margin-right: 18px;
}

#bar, #top-bar {
  border: 1px solid #555555;
  margin-left: 6px;
}

#bottom-gradient, #top-gradient {
  border: 1px solid #555555;
}

#bar-sel {
  list-style-image: url("chrome://themefontsizechanger/skin/arrows.png");
}

