	#themefontsizechanger-statusbar-icon {
		list-style-image:url('chrome://themefontsizechanger/skin/statusbaricon.png');
		cursor:pointer;
	}
	
	#themefontsizechanger-toolbarbutton {
		list-style-image:url('chrome://themefontsizechanger/skin/statusbaricon.png');
	}
	
	toolbar[iconsize="small"] #themefontsizechanger-toolbarbutton {
		list-style-image: url('chrome://themefontsizechanger/skin/statusbaricon.png');
	}	

	/* Added for Australis support */
	#themefontsizechanger-toolbarbutton[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #themefontsizechanger-toolbarbutton {
	  list-style-image: url("chrome://themefontsizechanger/skin/addonicon.png");
	}		