[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Sound System KDE Routing Policy
Name[pl]=Polityka trasowania dla KDE systemu dźwięku PulseAudio
Name[uk]=Правила маршрутизації звукової системи PulseAudio у KDE
Comment=Start the PulseAudio Sound System with KDE Routing Policy
Comment[pl]=Uruchomienie systemu dźwięku PulseAudio z polityką trasowania dla KDE
Comment[uk]=Запустити звукову систему PulseAudio з правилами маршрутизації KDE
Exec=start-pulseaudio-kde
Terminal=false
Type=Application
Categories=
GenericName=
OnlyShowIn=KDE;
