[Desktop Entry]
Version=1.0
Name=PulseAudio Sound System KDE Routing Policy
Name[ja]=PulseAudio サウンドシステム KDE ルーティングポリシー
Name[pl]=Polityka trasowania dla KDE systemu dźwięku PulseAudio
Name[pt_BR]=Política de roteamento do KDE para Sistema de som PulseAudio
Name[ru]=Звуковая система PulseAudio с маршрутизацией для KDE
Name[uk]=Правила маршрутизації звукової системи PulseAudio у KDE
Name[zh_TW]=PulseAudio 音效系統 KDE 路由方針
Comment=Start the PulseAudio Sound System with KDE Routing Policy
Comment[ja]=KDE ルーティングポリシーを有効にして PulseAudio サウンドシステムを開始
Comment[pl]=Uruchomienie systemu dźwięku PulseAudio z polityką trasowania dla KDE
Comment[pt_BR]=Iniciar o sistema de som PulseAudio com política de roteamento do KDE
Comment[ru]=Запуск звуковой системы PulseAudio с маршрутизацией для KDE
Comment[uk]=Запустити звукову систему PulseAudio з правилами маршрутизації KDE
Comment[zh_TW]=以 KDE 路由方針啟動 PulseAudio 音效系統
Exec=start-pulseaudio-kde
Terminal=false
Type=Application
Categories=
GenericName=
OnlyShowIn=KDE;
