/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Rediger denne fila og kopier henne til userContent.css i di
 * profilmappe/chrome/
 */

/*
 * Denne fila kan brukast til å leggje på stilar til alle nettstader
 * du viser i Mozilla. Stilreglar utan !important kan overstyrast av
 * nettstadsansvarleg.
 */

/*
 * døme: skru av blinkinga til &quot;blink&quot;-elementet
 *
 * blink { text-decoration: none ! important; }
 *
 */

/*
 * døme: gje alle tabellar ei 2px synleg ramme
 *
 * table { border: 2px solid; }
 */

/*
 * døme: skrua av &quot;marquee&quot;-elementet
 *
 * marquee { -moz-binding: none; }
 *
 */
 
/*
 * Du finn fleire døme (på engelsk) på http://www.mozilla.org/unix/customizing.html
 */

